<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cabinet vétérinaire </title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
 <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<div class="row">
			<div lang="tr" th:replace="fragments/header :: header"></div> 
			<div lang="tr" th:replace="fragments/header :: title"></div>
			<div class="col-md-12"></div>
			<div class="col-md-12"  th:if="${message}" >
				<div class="alert alert-warning alert-dismissible fade show" role="alert" >
					<strong th:text="${message}"></strong> 
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<hr>
			<div class="col-md-6">
				<h2 style="text-align: center;margin: auto;"><span class="badge badge-success" >Section de téléchargement d'image de profil</span></h2>
				<hr>
				<form th:action="@{'/user/upload-image/'+${adminname}+'/'}"  method="post" enctype="multipart/form-data" >
					<div class="form-row">
					<div class="custom-file">
					    <input type="file" name="files" class="custom-file-input" id="validatedCustomFile" required>
					    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
					    <div class="invalid-feedback">Example invalid custom file feedback</div>
				    </div>
				    </div>
				    <br/>
				    <div class="form-row">
					      <input id="uploadBtn" type="submit" class="btn btn-primary" value=" Charger "></input>
				    </div>
				</form>
				<div class="col-md-12"  th:if="${message_2}" >
					<div class="alert alert-success  alert-dismissible fade show" role="alert" >
						<strong th:text="${message_2}"></strong> 
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
				<hr>
				<div class="card" style="width: 18rem;">
<!-- 					<img class="card-img-top"  th:src="@{/uploads/fatih terim.jpg}"> -->
					<img class="card-img-top" th:src="@{'/img/'+${user.getImage()}}"  width="100" >
				</div>
				<hr>

			</div>
			<div class="col-md-6"  th:if="${user}">
				<ul class="list-group" style="font-weight: bold">
					<li class="list-group-item active" ><h5 style="text-align: center;margin: auto;">Renseignements sur le médecin</h5></li>
					<li class="list-group-item" th:text="'Nom d utilisatuer : '+${user.getUsername()}"></li>
					<li class="list-group-item" th:text="'prenom : '+${user.getFirstname()}"></li>
					<li class="list-group-item" th:text="'nom : '+${user.getLastname()}"></li>
					<li class="list-group-item" th:text="'Ville : '+${user.getCity()}"></li>
					<li class="list-group-item" th:text="'Email : '+${user.getEmail()}"></li>
					<li class="list-group-item" th:text="'Genre : '+${user.getGender()}"></li>
				</ul>

				<hr>
				<div class="margin-top20 text-center">
					<a class="btn btn-info" th:href="@{'/user/update-user/' + ${adminname}+'/'}">Mettre à jour les informations</a>
					<a class="btn btn-warning" th:href="@{'/user/update-user-password/' + ${adminname}+'/'}">Mettre à jour le mot de passe</a>
					<a class="btn btn-danger" th:href="@{'/user/delete-user/' + ${adminname}+'/'}">Effacer</a>
				</div>
			</div>


		</div>
	</div>
	
	<div lang="tr" th:replace="fragments/header :: jsfile"></div>
	</body>
</html>